// Backgrounds

@each $background, $color in $colors {
  .bg-#{$background} {
    background-color: #{$color};
  }
}

.transition-fade {
  transition: .4s;
  opacity: 1;
  .is-animating & {
    opacity: 0;
  }
}

