// Backgrounds

@each $background, $color in $colors {
  .bg-#{$background} {
    background-color: #{$color};
  }
}

.transition-fade {
  transition: .6s;
  transform: translateX(0);
  opacity: 1;
  .is-animating & {
    opacity: 0;
    transform: translateY(-50px);
  }

  .is-leaving & {
    opacity: 0;
    transform: translateX(-50px);

  }
}

