// footer

.footer {
  padding: $spacer 0;
  width: 100%;
  background-color: $white;
  font-size: 11px;
  @include media-breakpoint-up(md) {
    font-size: 1vw;
  }
  @extend .text-uppercase;
  line-height: 1.1; // reduce line height

  a {
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }
}

.copyright-text {
//  max-width: 400px;
}

.footer-links {
  margin-left: 40px;

  ul {
    > li {
      margin-left: $spacer / 3;

      &:not(:first-child) {
        &::before {
          content: '—'; // &mdash;
          display: inline-block;
          margin-left: .25em;
          margin-right: .25em;
        }
      }
    }
  }
}
