.figure-featured {

  &__image-wrapper {
    position: relative;
    background-color: $body-color;
    color: $body-color;
    overflow: hidden;

    padding-bottom: 56.25%; // default 16:9 ratio

    .-ratio-16-9 & {
      padding-bottom: 56.25%;
    }
    .-ratio-1-1 & {
      padding-bottom: 100%;
    }
    .-ratio-2-1 & {
      padding-bottom: 50%;
    }
    .-ratio-3-4 & {
      padding-bottom: 75%;
    }
  }

  &__image {
    max-width: none;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }

  &__image--default {
    padding-bottom: 56.25%;
    background-color: orange;
    position: absolute;
    object-fit: cover;
  }

  &__link.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    color: map-get($theme-colors, primary);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: $h6-font-size;
    @include media-breakpoint-up('sm', $grid-breakpoints) {
      font-size: $h4-font-size;
    }
    @extend strong;
    letter-spacing: .05em;

    transition: opacity .3s ease;
    opacity: 0;
    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }

  &__tags {
    li:not(:last-child)::after {
      content: ',';
    }
  }
}
