.figure-featured {

  &__image-wrapper {
    position: relative;
    background-color: $body-color;
    color: $body-color;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: auto; // just fit image naturally
  }

  &__image--default {
    padding-bottom: 56.25%;
    background-color: rgba(map-get($theme-colors, primary), .5);
    object-fit: cover;
  }

  &__link.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    color: map-get($theme-colors, primary);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: $h6-font-size;
    @include media-breakpoint-up('sm', $grid-breakpoints) {
      font-size: $h4-font-size;
    }
    @extend strong;
    letter-spacing: .05em;

    transition: opacity .3s ease;
    opacity: 0;
    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }

  &__tags {
    li:not(:last-child)::after {
      content: ',';
    }

    a {

      position: relative;
      display: inline-block;

      &::before {
        content: '';
        display: block;
        position: absolute;
        background-color: $body-color;
        bottom: 0;
        left: 0;
        height: .08em;
        width: 100%;
        transition: transform .3s $easeInOutCirc;
        transform: scaleX(0);
        transform-origin: top right;
      }
      &:hover {
        &::before {
          transform: scaleX(1);
          transform-origin: top left;
        }
      }
    }
  }
}

.project {

  &__year {
    font-weight: bolder;
  }
}

.footer-project {

  &__credits {

    p {
      margin: 0;
    }
  }
}
