.figure-featured {


  &__image-wrapper {
    position: relative;
  }

  &__link.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    color: map-get($theme-colors, primary);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @extend strong;
    letter-spacing: .05em;

    transition: opacity .3s ease;
    opacity: 0;
//    visibility: hidden;
    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }
}
